{{ $title := .DisplayTitle }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/style.css" rel="stylesheet">
        <title>edit - {{ $title }}</title>
    </head>
    <body>
        <p><b>Do you want to remove "{{ $title }}"?</b></p>
        <form method="post"">
            <input type="hidden" id="page_id" name="page_id" value={{ .PageId }} >

            <input type="submit" value="Remove">
        </form>
    </body>
</html>
