
{{ $title := .DisplayTitle }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/css/style.css" rel="stylesheet">
        <title>edit - {{ $title }}</title>
    </head>
    <body>
        <h2>Title change:</h2>
        <form method="post" name="editName">
            <label for="page_title">Title:</label>
            <input type="text" id="page_title" name="page_title" value="{{ $title }}">
            <input type="hidden" id="page_id" name="page_id" value="{{ .PageId }}">
            <input type="hidden" id="form_action" name="form_action" value="editName">
            <input type="submit" value="submit">
        </form>
        <br>
        <br>
        <h2>Update contents:</h2>
        <form method="post" enctype="multipart/form-data" name="editContent">
            <label for="content">Markdown file:</label>
            <input type="file" id="content" name="content" accept=".md"><br><br>
            <input type="hidden" id="page_id" name="page_id" value="{{ .PageId }}">
            <input type="hidden" id="form_action" name="form_action" value="editContent">
            <input type="submit" value="submit">
        </form>
    </body>
</html>
